@font-face {
	font-family: 'railway';
	src: url('./fonts/raleway-variablefont_wght-webfont.woff2'),
	url('./fonts/raleway-variablefont_wght-webfont.woff');
}

@font-face {
	font-family: 'josefinslab';
	src: url('./fonts/josefinslab-variablefont_wght-webfont.woff2'),
	url('./fonts/josefinslab-variablefont_wght-webfont.woff');
}

.btn {
	padding: 0.2rem 0.3rem;
	cursor: pointer;
}

body {
	margin: 0;
	padding: 0;
	height: 100vh;
	display: grid;
	grid-template-rows: 1fr 10fr;
	font-family: 'railway';
}

nav {
	padding: 0.4rem 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-light {
	background-color: #fef3c7;
}

#dev-nav {
	width: 25rem;
	display: flex;
	justify-content: space-between;
}

.logo {
	width: 10rem;
}

#theme-nav {
	width: 5rem;
	height: 2rem;
	border: 1px solid black;
	border-radius: 3rem;
	display: flex;
	align-items: center;
}

.theme-nav-light {
	background-color: #c2410c;
}

.theme-circle {
	border-radius: 30px;
	background-color: #fef3c7;
	width: 2.5rem;
	height: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.theme-circle-light {
	border: 3px solid #fb923c;
}

#theme-circle img {
	width: 2rem;
}

main {
	padding: 1rem;
}

.main-light {
	background-color: #fffbeb;
}

h1 {
	font-weight: 700;
}

.gameboard-wrapper {
	margin-right: 30%;
	margin-left: 25%;
	display: flex;
	position: relative;
}

.ai-menu {
	z-index: 1;
	width: 15rem;
	height: 200px;
	background-color: #fef9c3;
	border: 3px solid #ca8a04;
	position: absolute;
	transition: 0.5s;
	right: 28rem;
	border-top-left-radius: 1rem;
	border-bottom-left-radius: 1rem;
	display: flex;
}

.ai-menu-open {
	right: 39rem;
}

.ai-btn-cont {
	height: 100%;
	width: 30%;
	display: flex;
	align-items: center;
}

.ai-btn {
	background-color: #fef3c7;
	border: 2px solid #fcd34d;
	border-top-left-radius: 1rem;
	border-bottom-left-radius: 1rem;
	color: #78350f;
	height: 95%;
	margin-left: 0.3rem;
	padding: 1rem 1rem;
}

.ai-opt-cont {
	height: 100%;
	width: 70%;
}

.ai-opt-cont > ul {
	height: 100%;
	margin: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.ai-opt {
	font-size: 1.3rem;
	cursor: pointer;
	transition: 0.2s;
	font-weight: 700;
}

.ai-opt:hover {
	color: #e11d48;
}

.ai-opt-selected {
	color: #38bdf8;
}

.gameboard-cont {
	width: 40rem;
	height: 30rem;
	border: 3px solid #ca8a04;
	display: grid;
	grid-template-rows: 1fr 7fr 1fr;
	background-color: #fef9c3;
	font-weight: 700;
	z-index: 2;
}

.players-cont {
	grid-row: 1/2;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.player {
	width: 46%;
	height: 70%;
	background-color: #fefce8;
	border: 0.23rem solid #ca8a04;
	transition: 0.3s;
	display: flex;
	align-items: center;
	justify-content: space-around;
	cursor: pointer;
}

.player:hover {
	background-color: white;
}

.current-turn {
	background-color: #d9f99d;
}

.board-cont {
	grid-row: 2/3;
	width: 94%;
	border: 0.23rem solid #ca8a04;
	background-color:  #fefce8;
	justify-self: center;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 0.3rem;
	padding: 0.4rem;
}

.square {
	place-self: stretch;
	background-color: #fde68a;
	border: 2px solid #f59e0b;
	cursor: pointer;
	transition: 0.3s;
	display: flex;
	justify-content: center;
	align-items: center;
}

.square:hover {
	background-color: #fcd34d;
}

.player-mark {
	font-size: 3.5rem;
	font-family: 'josefinslab';
	font-weight: 700;
}

.right-player-mark {
	color: #f97316;
}

.left-player-mark {
	color: #dc2626;
}

.board-mssg {
	grid-row: 3/4;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mssg-cont {
	width: 96%;
	height: 70%;
	border: 0.23rem solid #ca8a04;
	background-color: #fefce8;
	display: flex;
	justify-content: center;
	align-items: center;
}

.reset-btn {
	background-color: #fde68a;
	padding: 0.2rem 0.9rem;
	margin-left: 0.5rem;
	border: 2px solid #fb923c;
	border-radius: 5px;
	transition: 0.3s;
}

.reset-btn:hover {
	border: 2px solid #ea580c;
	background-color: #fde047;
	border-radius: 10px;
}

.alert-mssg {
	background-color: #fef2f2;
	color: #dc2626;
}

.victor-mssg {
	background-color: #f7fee7;
	color: #84cc16;
}